<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Voice-Based Email System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Wrap the entire body content inside an anchor tag with href="/authenticate" -->
    <a href="{{ url_for('authenticate') }}" >
        <div class="container">
            <h1>Welcome to Voice-Based Email System</h1>
            <p>An innovative system designed for easy email management using voice commands.</p>
            
        </div>
    </a>
</body>
</html>
